.book {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-wrap: wrap;
}

.book-detail,
.percentage,
.chapter {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.book-detail .category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-detail h3 {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.5rem 20.188rem 0 0;
  font-size: 1.7rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-detail .author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-detail .interaction,
.book-detail.interaction li {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  width: 4.563rem;
  height: 1.188rem;
  margin: 1rem 0.938rem 0.125rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.interaction hr {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border: solid 1px #e8e8e8;
}

.book-detail .interaction li button {
  background-color: inherit;
  border: none;
  outline: none;
  color: #4386bf;
}
