.panel-bg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fff;
}

.panel-bg nav {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.panel-bg nav .NavLink {
  text-decoration: none;
}

.panel-bg nav * {
  flex: 1 1;
}

.Bookstore-CMS {
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#0290ff;
}

.BOOKS {
  opacity: 0.5;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  display: flex;
  justify-content: center;
}

.CATEGORIES {
  opacity: 0.5;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.is-active * {
  opacity: 1;
}

.icon {
  width: 3rem;
  height: 3rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0290ff;
}

.fa {
  width: 1.4rem;
  height: 1.3rem;
}