.panel-bg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fff;
}

.panel-bg span,
.panel-bg .NavLink {
  flex-basis: 20%;
}
