:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --medium-blue: #307bbe;
  --black-5: #0000000c;
  --white: #e8e8e8;
  --pinkish-grey: #c4c4c4;
  --azure: #0290ff;
  --black-Two: #121212;
}
